.custom-background {
    background-image: url('/static/image/background/weather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

@media (max-width: 767px) {
    .custom-background {
        background-position: center; 
    }
    .d-grid {
        padding: 10px 20px; 
    }

    .card {
        padding: 10px; 
    }
}